{% extends "layout.twig" %}

{% block title %}Update a note{% endblock %}
{% block content %}
<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ route('home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ route('notes.show', {'author': note.author.id}) }}">Notes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update</li>
        </ol>
    </nav>
    <div class="alert alert-light text-center mb-4" role="alert">
        <h3 class="font-weight-light text-dark">Update a <span class="text-warning">Note</span></h3>
        <hr>
    </div>
    {# @var \Note\Domain\Note $note #}

    <div class="row">
        <div class="col-lg-12">
            {% if errors %}
                {% include 'partials/errors.twig' %}
            {% endif %}
            <div class="alert alert-warning" role="alert">
                <strong>Please</strong> update the form below.
            </div>
            <form action="{{ route('notes.update', {'note': note.id}) }}" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label class="text-muted">User</label>
                    <input class="form-control" type="text" value="{{ note.author.user.fullName }}" readonly>
                </div>
                <div class="form-group">
                    <label class="text-muted">Author</label>
                    <input class="form-control" type="text" value="{{ note.author.username }}" readonly>
                </div>
                <div class="form-group">
                    <label class="text-muted">Title</label>
                    <input type="text" name="title" maxlength="50" class="form-control" value="{{ note.title }}" placeholder="Title" required>
                    <small class="form-text text-muted">Required, must be 4-50 characters long, only letters, numbers and spaces.</small>
                </div>
                <div class="form-group">
                    <label class="text-muted">Content</label>
                    <textarea class="form-control" name="content" maxlength="200" placeholder="content" required>{{ note.content }}</textarea>
                    <small class="form-text text-muted">Required, must be 15-200 characters long.</small>
                </div>
                <button type="submit" class="btn btn-warning btn-block">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}